.article {
  // display: none;
  grid-column: 1;
  grid-row: 1 / span 3;

  // &--active {
  //   display: block;
  // }
}

.article__wrapper {
  color: $color-dark-grey;
  font-family: $ff-secondary;
  font-size: 22px;
  line-height: $lh-secondary;
  letter-spacing: 0.22px;
}

.article__img {
  margin-bottom: 46px;
  width: 100%;
  background-color: $color-gray;
  border-radius: 50px;
}

.article__details{
  margin-bottom: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
