.intro {
  &--blog {
    background-image: url("../img/blog-intro.jpg");
    background-repeat: no-repeat;
  }

  &--article {
    background-image: url("../img/article-intro.jpg");
    background-size: contain;
  }

  &--projects {
    background-image: url("../img/projects-intro.jpg");
    background-size: contain;
    background-position: right;
  }

  &--projects-detail {
    background-image: url("../img/projects-detail-intro.jpg");
    background-size: contain;
    background-position: right;
  }
}

.intro__content {
  padding: 20px 52px;
  min-height: 758px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 70px;
  background-image: url("../img/intro-background.jpg");
  background-size: cover;

  &--params {
    padding-bottom: 0;
    justify-content: flex-end;
    min-height: 356px;
    background: none;
  }
}

.intro__heading {
  max-width: 428px;

  &--params {
    padding: 41px 78px;
    margin: 0 auto;
    min-width: 503px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $color-white;
    border-radius: 37px 37px 0 0;
  }

  &--none {
    display: none;
  }
}

.intro__title {
  margin: 0 0 18px;
  font-family: $ff-titles;
  font-size: 65px;
  line-height: $lh-titles;

  &--params {
    margin-bottom: 0;
    font-size: 50px;
    font-weight: $fw-default;
    line-height: $lh-titles;
  }
}

.intro__subtitle {
  margin: 0 0 21px;
  font-family: $ff-secondary;
  font-size: $fz-secondary;
  line-height: $lh-secondary;
}

.intro__link {
  display: block;
  width: fit-content;
  padding: 26px 48px;
  color: $color-white;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: $color-black;
  border-radius: 18px;
}