*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-style: normal;
  font-weight: $fw-default;
  font-size: $fz-secondary;
  line-height: $lh-secondary;
  font-family: $ff-secondary;
  color: $color-black;
  overflow-x: hidden;
  /* stylelint-disable */
  height: -webkit-fill-available;
  /* stylelint-enable */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  width: 100vw;
  height: 100%;
  background-color: $color-white;
}

a {
  color: $color-black;
  text-decoration: none;
  cursor: pointer;
}

h2,
h3,
p {
  margin: 0;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  padding: 0;
  appearance: none;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}